<main class="flex flex-col dark:text-white" >
    <div class="flex justify-start">
      <a  class="flex justify-center items-center gap-1 px-6 py-2.5 bg-darkSecondary text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" routerLink="/" >
        <svg class="w-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd" d="M15 10a.75.75 0 01-.75.75H7.612l2.158 1.96a.75.75 0 11-1.04 1.08l-3.5-3.25a.75.75 0 010-1.08l3.5-3.25a.75.75 0 111.04 1.08L7.612 9.25h6.638A.75.75 0 0115 10z" clip-rule="evenodd" />
        </svg>
        <span>Back</span>
      </a>
    </div>
    <div class="grid grid-cols-12 gap-4 mt-12" *ngIf="countryDetail$ | async as detail;">
      <div class="col-span-6">
        <img [src]="detail?.flags.png" [alt]="detail?.name.common">
      </div>
      <div class="col-span-6">
        <h4 class="text-2xl font-bold truncate mb-5">{{detail?.name.common}}</h4>
        <div class="grid grid-cols-12 mb-4">
          <div class="col-span-6">
            <div class="mb-1"><span class="font-semibold">Population: </span><span>{{detail?.population}}</span></div>
            <div class="mb-1"><span class="font-semibold">Region: </span><span>{{detail?.region}}</span></div>
            <div class="mb-1"><span class="font-semibold">Capital: </span><span>{{detail?.capital[0]}}</span></div>
          </div>
          <div class="col-span-6">
            <div class="mb-1"><span class="font-semibold">Area: </span><span>{{detail?.area}}</span></div>
            <div class="mb-1"><span class="font-semibold">Continents: </span><span>{{detail?.continents[0]}}</span></div>
            <div class="mb-1"><span class="font-semibold">Languages: </span><span>{{getLanguages(detail?.languages)}}</span></div>
          </div>
        </div>
        <!-- <div class="grid grid-cols-12 ">
          <div class="col-span-12">
            <h6 class="text-lg font-semibold truncate mb-2">Border Countries: </h6>
          <div class="flex justify-start items-center flex-wrap gap-1">
            <a  class=" px-6 py-2.5 bg-darkSecondary text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
              *ngFor="let borderCountry of detail.borders" routerLink="/home/{{borderCountry | lowercase}}">{{borderCountry}}</a>
          </div>
          </div>
        </div> -->
      </div>
    </div>
  </main>
